:root {
  --primary-background-colour: #d7ceca;
  --secondary-background-colour: #763240;
  --button-colour: #565656;
  --primary-text-colour: #565656;
  --heading-font-family: "Livvic", sans-serif;
  --text-font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: 96px;
}

h2 {
  font-family: var(--heading-font-family);
  color: var(--primary-text-colour);
  font-size: 56px;
  font-weight: 400;
}

h3 {
  font-family: var(--heading-font-family);
  color: var(--primary-text-colour);
  font-weight: 400;
}

.nav-bar {
  background-color: var(--secondary-background-colour);
  padding: 10px;
  color: white;
}

.nav-bar-text {
  font-size: 25px;
  font-family: var(--text-font-family);
  font-weight: 400;
  margin-right: 50px;
}
.nav-bar a {
  text-decoration: none;
  color: white;
  transition: all 100ms ease-in-out;
  text-align: right;
}

.nav-bar a:hover,
.nav-bar a.active {
  color: var(--primary-background-colour);
}

.nav-bar ul {
  padding: 0;
  margin: 0;
}

.nav-bar li {
  display: inline;
  list-style: none;
  padding: 2px;
}
.hero {
  text-align: center;
  background-color: var(--primary-background-colour);
  margin: 80px 60px;
  padding: 120px;
}

.contact-button {
  color: white;
  background-color: var(--button-colour);
  font-family: var(--text-font-family);
  font-size: 30px;
  font-weight: 400;
  border-radius: 30px;
  margin-top: 90px;
  padding: 23px 149px;
}

.content-container {
  text-align: center;
  background-color: var(--primary-background-colour);
  margin: 80px 60px;
  padding: 120px;
}

.content-container p {
  font-family: var(--text-font-family);
}

.content-container p a {
  font-family: var(--text-font-family);
  text-decoration: none;
  color: var(--button-colour);
}

.content-container p a:hover {
  text-decoration: underline;
}

.project-button {
  color: white;
  background-color: var(--button-colour);
  font-family: var(--text-font-family);
  text-align: center;
  border-radius: 30px;
  padding: 23px 80px;
  margin-top: 130px;
  font-size: 20px;
}

.about-hero {
  text-align: center;
  background-color: var(--primary-background-colour);
  margin: 80px 20px;
  padding: 70px 104px;
}

.about-me-text {
  line-height: 1.5;
  margin-top: 80px;
}

.about-me-image {
  border-radius: 5px;
  margin-top: 10px;
}

.about-hero .project-button {
  margin-top: 10px;
}

@media (max-width: 750px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
  }
  .nav-bar {
    background-color: var(--secondary-background-colour);
    padding: 2px;
    color: white;
  }

  .nav-bar-text {
    font-size: 20px;
  }
  .hero {
    text-align: center;
    margin: 50px 30px;
    padding: 10px;
  }

  .contact-button {
    border-radius: 30px;
    margin-top: 5px;
    padding: 2px 40px;
    font-size: 20px;
  }

  .content-container {
    text-align: center;
    margin: 50px 30px;
    padding: 10px;
  }

  .project-button {
    border-radius: 30px;
    margin-top: 5px;
    padding: 2px 30px;
    font-size: 20px;
    margin-top: 60px;
  }

  .about-hero {
    margin: 80px 20px;
    padding: 50px 20px;
  }

  .about-me-text {
    margin-top: 10px;
  }

  .about-me-image {
    margin-top: 20px;
    max-width: 80%;
  }
}
